<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Store</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div [hidden]="!authenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="item/add">Add Item</a>
        </li>
      </div>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <div [hidden]="authenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="customer/login">Login</a>
          </li>
        </div>
        <div [hidden]="!authenticated()">
          <li class="nav-item" style="display: inline-block">
            <a class="nav-link" routerLink="/customer/detail">Profile</a>
          </li>
          <li class="nav-item" style="display: inline-block">
            <a class="nav-link" [routerLink]="" (click)="logout()">Logout</a>
          </li>
        </div>
    </ul>
  </div>
</nav>
