<h1 class="h1 text-center">Item</h1>
<div class="card">
  <div class="card-block text-center">
    <br/>
    <span class="text-muted">
      Description <strong>{{this.item.description}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Price <strong>{{this.item.price}}</strong> (ETH)
    </span>
    <br/>
    <br/>
    <div *ngIf="authenticated() && !this.item.sold">
      <button (click)="this.buy()" class="btn btn-primary">Buy</button>
      <br/>
      <br/>
    </div>
  </div>
</div>

